<!DOCTYPE html>
<html>
  <head>
    <title>Exposed</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="mb-3">
	<%= render partial: "layouts/partials/navbar" %>
      </div>
      <%= render partial: "layouts/partials/flash_messages" %>
      <%= yield %>
    </div>
  </body>
</html>
